.site-footer {
    font-family: $font-family-open-sans;
    background-color: $navbar-inverse-bg;
    color: $navbar-inverse-link-color;
    font-size: 12px;
    padding-top: 20px;

    a {
        color: $navbar-inverse-brand-color;
    }

    #FooterTop {
        .footer-section {
            min-height: 200px;

            &:first-child {
                h2, h3, h4 {
                    line-height: 0.7;
                    font-size: 28px;

                    small {
                        color: $navbar-inverse-link-color;
                        font-size: 14px;
                    }
                }
            }
        }
    }

    #FooterBottom {
        background-color: $Navtop-bg;
        padding: 10px 0px;
    }
}
