@page
@model WMoSS.Pages.Movies.ComingSoonModel
@{
    ViewData["Title"] = "ComingSoon";
    ViewBag.EntryTitle = "Coming Soon";
}
@section EntryHeader {
    <div class="entry-header">
        <div class="container clearfix">
            <h3>@ViewBag.EntryTitle</h3>
        </div>
    </div>
}
<div class="container clearfix">
    @if (Model.Movies != null && Model.Movies.Count() > 0)
    {
    <ul>
        @foreach(var movie in Model.Movies)
        {
            <li>
                @{ 
                    var releaseYear = " ";
                    if (movie.ReleaseDate.HasValue)
                    {
                        releaseYear += "(";
                        releaseYear += movie.ReleaseDate.Value.ToString("yyyy");
                        releaseYear += ")";
                    }

                    var movieTitle = movie.Title + releaseYear;
                }
                <b>@movieTitle</b>
            </li>

        }
    </ul>
    }
    else
    {
        <p>There are no movies coming soon.</p>
    }
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
