@page
@model WMoSS.Pages.Movies.IndexModel
@{
    ViewData["Title"] = "All Movies";
    ViewBag.EntryTitle = ViewData["Title"];
}

@section EntryHeader {
    <div class="entry-header">
        <div class="container clearfix">
            <h3>@ViewBag.EntryTitle</h3>
        </div>
    </div>
}


<div class="container clearfix">

    @if (Model.Movies != null && Model.Movies.Count() > 0)
    {
        <div class="row text-center">
        @foreach (var movie in Model.Movies)
        {
            var releaseYear = " ";
            if (movie.ReleaseDate.HasValue)
            {
                releaseYear += "(";
                releaseYear += movie.ReleaseDate.Value.ToString("yyyy");
                releaseYear += ")";
            }

            var movieTitle = movie.Title + releaseYear;
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <h4>@movieTitle</h4>
                    @if (movie.PosterFileName != null)
                    {
                        <img src="@movie.PosterFileName" class="img-responsive" style="width:100%" alt="Image">
                    }
                    else
                    {
                        <img src="http://placehold.it/270x400" class="img-responsive" style="width:100%" alt="Image">
                    }
                    <a asp-page="/Movies/Details" asp-route-id="@movie.Id" class="btn btn-primary col-xs-12" role="button">View Details</a>
                    <div class="clearfix"></div>
                </div>
            </div>

        }
        </div>
    }
    else
    {
        <p>There are no movies coming soon.</p>
    }
</div>