@page
@model WMoSS.Pages.Movies.NowShowingModel
@{
    ViewData["Title"] = "Now Showing";
    ViewBag.EntryTitle = "Now Showing";
}
@section EntryHeader {
    <div class="entry-header">
        <div class="container clearfix">
            <h3>@ViewBag.EntryTitle</h3>
        </div>
    </div>
}

<div class="container clearfix">
    @if (Model.Movies != null && Model.Movies.Count() > 0)
    {
        <ul>
            @foreach (var movie in Model.Movies)
            {
                var releaseYear = " ";
                if (movie.ReleaseDate.HasValue)
                {
                    releaseYear += "(";
                    releaseYear += movie.ReleaseDate.Value.ToString("yyyy");
                    releaseYear += ")";
                }

                var movieTitle = movie.Title + releaseYear;
                <li>
                    <b>@movieTitle</b>
                </li>
            }
        </ul>
        }
        else
        {
            <p>There are no movies that are now showing.</p>
        }
</div>