@page
@model WMoSS.Web.Pages.Movies.IndexModel
@{
    ViewData["Title"] = "Index";
}

@section EntryHeader {
    <div class="entry-header">
        <div class="container clearfix">
            <h3>All Movies</h3>
        </div>
    </div>
}

<div class="container clearfix">
    <p>All Movies should display movies to be released in the future.</p>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
