@import "../fixed-width-sidebar.scss";

.checked {
    color: orange;
}

.well {
    background-color: #CAE5FF;
    color: #595F72;

    h5 {
        font-size: 20px
    }

    p {
        font-size: 12px;
    }
}

.bar {
    font-size: 20px;
}

.sessionForm {
    align-content: flex-start
}

ul#qty li {
    display: inline;
}

/*****************/


#MovieDetailsContainer {
    max-width: 640px;
    margin-bottom: 150px;
}

.movie-details {
    padding-left: 15px;

    .movie-metadata {
        font-size: 12px;
        line-height: 1.4;
    }

    .movie-description {
        font-size: 13px;
        margin-top: 30px;
    }


}

#SelectMovieSessionsFormParent {
    padding-left: 15px;
    margin-top: 50px;

    h3 {
        font-size: 21px;
        font-weight: 700;
    }
}

#SelectMovieSessionsForm {
    button {
        display: inline-block;
        margin-top: 32px;
    }
}

#MovieDetailsContainer {
    @include fixed_width_sidebar(200px);
}