.screen {
  border: 2px solid;
  border-radius: 8px;
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.row {
}

.seats {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.seat {
    display: flex;
    flex: 0 0 8%;
    // padding: 5px;
    position: relative;

    &:nth-child(5) {
        margin-right: 8%;
    }

    input[type="checkbox"] {
        position: absolute;
        opacity: 0;
    }

    input[type="checkbox"]:checked {
        + label {
            background: #F42536;
            -webkit-animation-name: rubberBand;
            animation-name: rubberBand;
            animation-duration: 300ms;
            animation-fill-mode: both;
        }
    }

    input[type="checkbox"]:disabled {
        + label {
            background: #747373;
            overflow: hidden;

            &:after {
                content: '\2297';
                text-indent: 0;
                position: absolute;
                top: 4px;
                left: 50%;
                transform: translate(-50%, 0%);
            }

            &:hover {
                box-shadow: none;
                cursor: not-allowed;
            }
        }
    }

    label {
        display: inline-block;
        position: relative;
        text-align: center;
        padding: 5px 10px;
        border-radius: 0;
        background: #b6f3b5;

        &:before {
            // content: "";
            // position: absolute;
            // border-radius: 3px;
        }

        &:hover {
            cursor: pointer;
            box-shadow: 0 0 0px 2px #5c6aff;
        }
    }
}

@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}


#SeatAllocation {
  padding-bottom: 100px;
}