@page
@model WMoSS.Web.Pages.Shared.ContactUsModel
@{
    ViewData["Title"] = "ContactUs";
}

<h2>ContactUs</h2>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
