@page
@model ContactModel
@{
    ViewData["Title"] = "Contact Us";
}

<div class="entry-header">
    <div class="container">
        <h3>@ViewData["Title"]</h3>
    </div>
</div>

<div class="container" id="contactBody">
    <div class="row">
        <div class="col-sm-6">
            <h4>Questions</h4>
            <p>
                If you have any questions, please refer to our
                <a href="faq.html">FAQ</a> page to see if your query can be answered there.
                If not please send your enquiries to <a href="mailto:info@cinemaaurora.com.au">info@cinemaaurora.com.au</a>
            </p>
            <br />
        </div>
    </div>
</div>

