@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container clearfix">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="http://placehold.it/960x410/" alt="movie1" style="width:100%;">
            </div>

            <div class="item">
                <img src="http://placehold.it/960x410/" alt="movie2" style="width:100%;">
            </div>

            <div class="item">
                <img src="http://placehold.it/960x410/" alt="movie3" style="width:100%;">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div id="ExpressCheckoutParent"></div>
    <div class="row">
        <h2 class="text-center">All Movies</h2>
        <hr />
    </div>
    <div class="row">
        @foreach (var movie in Model.Movies)
        {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail clearfix" style="width:70%;">
                    <h4>@string.Format("{0}{1: (yyyy)}", movie.Title, movie.ReleaseDate)</h4>
                    <img src="http://placehold.it/270x400" alt="@string.Format("{0}{1:(yyyy)}", movie.Title, movie.ReleaseDate)">
                    <a asp-page="/Movies/Details/@movie.Id" class="btn btn-primary col-xs-12" role="button">View Details</a>
                    <div class="clearfix"></div>
                </div>
            </div>
        }
    </div>
</div>

<form asp-page="/Index"></form>