<div class="site-footer">
    <div id="FooterTop">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-xs-12 footer-section">
                    <h2>Cinema Aurora<br /><small>Luxury Cinema Services</small></h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet modi totam id porro commodi repudiandae est, expedita nulla eius perspiciatis.</p>
                </div>
                <div class="col-sm-4 col-xs-12 footer-section"></div>
                <div class="col-sm-4 col-xs-12 footer-section"></div>
            </div>
        </div>
    </div>

    <div id="FooterBottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    Copyright &copy; @DateTime.Today.ToString("yyyy") Cinema Aurora Inc.
                </div>
                <div class="col-xs-12 col-sm-6 text-right">
                    Designed by RMIT SEPM Team #32
                </div>
            </div>
        </div>
    </div>
</div>