<div class="site-footer">
    <div id="FooterTop">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-xs-12 footer-section">
                    <h2>Cinema Aurora<br /><small>Luxury Cinema Services</small></h2>
                    <p>Cinema Aurora is a Luxury Cinema specialising in quality mainstream and Arthouse cinema, and is located in the heart of Lygon St.</p>
                </div>
                <div class="col-sm-4 col-xs-12 footer-section">
                    <h4>Contact Us</h4>
                    <p>
                        <address>
                            123 Lygon Street<br/>
                            Melbourne VIC 3000
                        </address>
                    </p>
                    <p>
                        Cinema Hours: Mon-Sat 6am-11pm<br/>
                        Office Hours: Mon-Sat 9am-5pm
                    </p>
                    <p>
                        <a href="#">info@@cinemaaurora.com.au</a>
                    </p>
                </div>
                <div class="col-sm-4 col-xs-12 footer-section">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14213.531772044087!2d144.97417720314715!3d-37.77744566073259!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad64348be276dbf%3A0xa02e66e70e8d6d14!2s123+Lygon+St%2C+Brunswick+East+VIC+3057!5e0!3m2!1sen!2sau!4v1526177537810" width="300" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <div id="FooterBottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    Copyright &copy; @DateTime.Today.ToString("yyyy") Cinema Aurora Inc.
                </div>
                <div class="col-xs-12 col-sm-6 text-right">
                    Designed by RMIT SEPM Team #32
                </div>
            </div>
        </div>
    </div>
</div>