@page "{id:int}"
@model WMoSS.Pages.Order.DetailsModel
@{
    ViewData["Title"] = "Order Details";
    ViewData["EntryTitle"] = ViewData["Title"];
}

@section EntryHeader {
    <div class="entry-header">
        <div class="container clearfix">
            <h3>@ViewData["EntryTitle"]</h3>
        </div>
    </div>
}

@section Scripts {

}


<div class="container clearfix">

    <p>Order details</p>

</div>