<div class="entry-header">
    <div class="container clearfix">
        <h3>@Model.Title</h3>
        @if (Model.SubTitle != null)
        {
            <h5>Entry subtitle</h5>
        }
    </div>
</div>
