@page
@model WMoSS.Web.Pages.Theaters.IndexModel
@{
    ViewData["Title"] = "Index";
    ViewBag.EntryTitle = "All Theaters";
}

@section EntryHeader {
    <div class="entry-header">
        <div class="container clearfix">
            <h3>@ViewBag.EntryTitle</h3>
        </div>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<div class="container clearfix">
    <p>This page should display all available movie theaters. Images should be included as well.</p>
</div>


