@page
@model WMoSS.Pages.Seats.SelectModel
@{
    ViewData["Title"] = "Select your seats";
    ViewBag.EntryTitle = ViewData["Title"];
}

@section EntryHeader {
    <div class="entry-header">
        <div class="container clearfix">
            <h3>@ViewBag.EntryTitle</h3>
        </div>
    </div>
}

<div class="container clearfix">

    <form method="post">
        <input type="hidden" asp-for="MovieSessionId"/>
        <input type="hidden" asp-for="ReturnUrl"/>

        <div id="SeatBlockLeft" class="col-xs-6">
            @for (char row = 'A'; row <= 'E'; row++)
            {
                <div class="seat-row">
                @for (int col = 1; col <= 5; col++)
                {
                        @if (Model.UnavailableSeats.Contains(row.ToString() + col.ToString()))
                        {
                            <span class="unavailable">
                                <input type="checkbox" name="Seats[]" id="Seat-@row@col" value="@row@col" disabled="disabled" />
                                <label class="seat-label" for="Seat-@row@col">@row@col</label>
                            </span>
                        }
                        else
                        {
                            <span class="available">
                                <input type="checkbox" name="Seats[]" id="Seat-@row@col" value="@row@col" />
                                <label class="seat-label" for="Seat-@row@col">@row@col</label>
                            </span>
                        }
                }
                </div>
            }
        </div>

        <div id="SeatBlockRight" class="col-xs-6">
            @for (char row = 'A'; row <= 'E'; row++)
            {
                <div class="seat-row">
                @for (int col = 6; col <= 10; col++)
                {
                        @if (Model.UnavailableSeats.Contains(row.ToString() + col.ToString()))
                        {
                            <span class="unavailable">
                                <input type="checkbox" name="Seats[]" id="Seat-@row@col" value="@row@col" disabled="disabled" />
                                <label class="seat-label" for="Seat-@row@col">@row@col</label>
                            </span>
                        }
                        else
                        {
                            <span class="available">
                                <input type="checkbox" name="Seats[]" id="Seat-@row@col" value="@row@col" />
                                <label class="seat-label" for="Seat-@row@col">@row@col</label>
                            </span>
                        }
                }
                </div>
            }
        </div>

        <button type="submit">Update seats</button>
        <a asp-page="/Index">Go back</a>
    </form>


</div>
