// Body
$body-bg: #ffffff;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: Arial, Helvetica, sans-serif;
$font-family-open-sans: "Open Sans", Arial, Helvetica, sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-border-radius: 0;
$navbar-inverse-bg: #2d3f50;
$navbar-inverse-link-color: #eeeeee;
$navbar-inverse-brand-color: #dfeffe;

// #NavTop
$Navtop-bg: darken($navbar-inverse-bg, 5%);

// Buttons
$btn-default-color: $text-color;
$btn-border-radius-base: 0;
$btn-border-radius-large: 0;
$btn-border-radius-small: 0;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);
$input-border-radius: 0;
$input-border-radius-large: 0;
$input-border-radius-small: 0;

// Panels
$panel-default-heading-bg: #fff;

// Alerts
$alert-border-radius: 0;